.navbutton {
    background-color: blue;
    padding: 11px 25px;
    width: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
   
}

.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: white;
    text-decoration: none;
}

/* hides the drop down menu is not in use */
.dropdown-box {
    display: none;
    position: absolute;
    z-index: 1; /* higher the index goes on top */
    padding-top: 20px;
    margin-left: -26px;
}

/* turns the dop down back on */
.navbutton:hover .dropdown-box {
    display: block;
}

.dropdown-box .navbutton:hover{
    background-color: green;
    transition-duration: 500ms;
}

.contact {
    color: black;
    padding-bottom: 20px;
}

h2 {
    font-size: 1.25rem;
    font-weight: bold;

}

h3 {
    font-weight: bold;
}

ul {
    margin-top: 0;
}

.item {
    margin-top: 20px;
}

.date{
    display: flex;
    justify-content: space-between;
}

.heading {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

.content {
    display: flex;
    margin-top: 40px;
}
.about{
    flex: 2;
}
.headshot{
    flex: 1;
}

img{
    max-width: 100%;
}

.about p{
    margin-top: 20px;
}

hr { 
    background-color: black; 
    height: 1px; 
    border: 0; 
}